.burger__icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.burger {
    justify-items: center;
    align-items: center;
    display: none;
}

@media screen and (max-width: 750px) {
    .burger {
        display: block;
        right: 0;
    }
}