.form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 55px;
    align-items: center;
}

.form__submit a {
    display: block;
}

.form__btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: url("../../../assets/images/search_img.png");
    background-size: contain;
    transform: scale(0.9);
    transition: transform .4s ease;
    min-width: 50px;
}

.form__btn:hover {
    cursor: pointer;
    transform: scale(1.0);
    transition: transform .4s ease;
}

.input-block {
    width: 230px;
}

@media screen and (max-width: 700px) {
    .input {
        width: 100%;
        transition: transform .4s ease;

    }
    .input__search {
        transition: transform .4s ease;
        min-width: 180px;
    }
    .input-block {
        width: auto;
    }
}
.close {
     opacity: 0.3;
     cursor: pointer;
     position: sticky;
     width: 35px;
     min-width: 35px;
     height: 35px;
 }
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
.hide {
    display: none;
}