.review {
    border: 4px solid #f5a85a;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    margin: 20px 10px;
    width: 32%;
    min-width: 300px;
    overflow: hidden;
    position: relative;
}

.review__side-left {
    position: absolute;
    border-right: 4px solid #f5a85a;
    background: linear-gradient(#ffffff, #e7dff3);
    left: 0px;
    height: 100%;
}
.review__side-right {
    margin-left: 50px;
    width: 100%;
    height: auto;
}

.review__side-icon {
    width: 40px;
    margin: 10px 2px auto 5px;
    cursor: pointer;
    transition: transform .4s ease;
}

.review__side-icon:hover {
    transform: scale(1.1);
    transition: transform .4s ease;
}

.review-author {
    border-bottom: 4px solid #f5a85a;
    text-indent: 5px;
    width: 100%;
}

.review-author__text {
    margin: auto;
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
    padding: 0;
}

.review-comment {
    padding: 10px 5px;
    overflow: auto;
}

.review-comment__text {
    margin: auto;
    text-overflow: ellipsis;
    font-size: 1.1em;
    height: calc(1.35 * 36px * 4);
    font-family: cursive;
}

@media screen and (max-width: 692px) {
    .review {
        width: 90%;
    }
}