.card-actor {
    padding-bottom: 10px;
    border-radius: 6px;
    margin: 10px 10px 30px;
    border: 2px solid black;
    width: 350px;
}

.card-actor__photo {
    display: block;
    width: auto;
}

.card-actor__photo-img {
    display: block;
}

.card-actor__photo-img img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.card-actor__name-link--text {
    font-size: 25px;
    margin: auto;
    text-align: center;
    font-weight: bold;
}

.card-actor__name-link {
    text-decoration: none;
    color: #007bff;
    display: block;
}

@media (max-width: 400px) {
    .card-actor__photo-img img {
        width: 300px;
    }
    .card-actor {
        width: 300px;
    }
}