.actor-info {
    font-family: cursive;
    display: flex;
    margin: auto 5%;
    flex-wrap: nowrap;
}

.button-content {
    display: block;
    font-size: large;
    margin: auto;
    width: auto;
}

.actor-info__block {
    display: block;
    width: auto;
}

.actor-info__block--left {
    display: block;
    width: auto;
}

.actor-info__block--right {
    align-self: flex-end;
    margin-left: 50px;
}

.actor-info__header {
    display: block;
}

.actor-info__right--font {
    font-size: 20px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-indent: 50px;
}

.actor-info__text {
    margin: 10px auto;
}

.actor-info__text--name {
    display: block;
    font-size: 2em;
    font-weight: bold;
}

.actor-info__text--birth {
    display: block;
    font-size: 1.15em;
}

.actor-info__text--deathday {
    display: block;
    font-size: 1.20em;
}

.actor-info__photo {
    display: block;
    width: auto;
}

.actor-info__photo img {
    max-width: 500px;
}

.actor-movies {
    display: flex;
    margin: 50px auto;
    outline: none;
    font-size: 40px;
    border: 5px solid #17a2b8;
    background: aliceblue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform .4s ease;
}

.actor-movies:active {
    transition: transform .4s ease;
    opacity: 0.3;
}

@media screen and (max-width: 1300px) {
    .actor-info {
        flex-wrap: wrap;
    }
    .actor-info__block--right {
        margin: auto;
    }
    .actor-info__block--left {
        margin: auto;
    }
}
@media screen and (max-width: 600px) {
    .actor-info__photo img {
        width: 100%;
    }   
}
@media screen and (max-width: 400px) {
    .actor-movie {
        width: 270px !important;
    }
}

