@font-face {
    font-family: 'MagicFont';
    src: URL('../../../fonts/QuiteMagicalRegular.ttf') format('truetype');
}

.container-person {
    display: flex;
    justify-content: center;
    margin: 20px 3%;
    font-family: 'MagicFont';
}

.container-person-left {
    width: 500px;
    margin-right: 50px;
}


.person-image {
    width: 500px;
    border-radius: 10px;
}

.person-image:hover {
    transform: scale(1.01);
    transition: all .2s ease;
}

.container-person-right {
    margin-top: 50px;
    display: flex;
    align-items: flex-end;
}
.container-person-right p {
    max-width: 900px;
    font-size: 26px;
}

.show-movie {
    display: flex !important;
    margin: 50px auto;
    font-family: 'MagicFont';
    outline: none !important;
    font-size: 40px !important;
    border: solid 5px #17a2b8 !important;
    padding: 0px 15px !important;
}

@media (max-width: 1200px) {
    .container-person-left {
        width: 370px;
        margin-right: 20px;
    }
    .person-image {
        width: 320px;
    }
}

@media (max-width: 900px) {
    .container-person-left {
        width: 330px;
        margin: auto;
    }
    .container-person {
        flex-direction: column;
    }
    .container-person-right {
        margin-top: 25px;
    }
}
