.card {
    width: 400px;
    transition: all .4s ease;
    margin: 50px 10px;
    background: white;
    border-radius: 10px;
}

.card__post {
    width: 400px;
}

.card:hover {
    transform: scale(1.1);
    transition: all .4s ease;
}

.card__description {
    padding: 0px 30px 20px;
}

.card__title {
    font-size: 22px;
    margin: 12px 0px 0px;
}

.card__button {
    text-decoration: unset;
    color: white;
    font-size: 20px;
    background: #5a5aff;
    padding: 4px 10px;
    border-radius: 5%;
}