.subtitle {
    text-align: start;
    margin: 0em 1em;
    color: red;
    font-size: 50px;
    font-weight: bold;
    display: block;
}

.subtitle__actors {
    color: blue;
}

.subtitle__movies {
    color: red;
}

.pagination {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}