.navbar {
    border-bottom: 1px solid #e8e8e8;
}

.github {
    width: 130px;
    mix-blend-mode: multiply;
    cursor: pointer;
    transition: unset !important;
    margin: 0;
}

.github:hover {
    transition: unset !important;
    transform: unset;
}

@media (max-width: 560px) {
    .github {
        display: none;
    }
}
