.actor {
    padding-bottom: 10px;
    border-radius: 6px;
    margin: 10px 10px 30px;
    border: 2px solid black;
    width: 350px;
}

.actor-photo__img {
    display: block;
}

.actor-photo {
    display: block;
    width: auto;
}

.actor-photo__img img {
    width: 350px;
}

.actor-name__link--text {
    font-size: 25px;
    margin: auto;
    text-align: center;
    font-weight: bold;
}

.actor-name__link {
    text-decoration: none;
    color: #007bff;
    display: block;
}

@media (max-width: 400px) {
    .actor-photo__img img {
        width: 300px;
    }
}