.actor {
    padding-bottom: 10px;
    border-radius: 6px;
    margin: 10px 10px 30px;
    border: 2px solid black;
    border-bottom: 2px solid black;
}

.actor__photo {
    width: 350px;
}

.actor__name {
    font-size: 25px;
    margin: auto;
    text-align: center;
}

.actor__name--link {
    text-decoration: none;
    color: #007bff;
}