.input-item__icon {
    width: 40px;
    height: 60px;
}

.input-item__icon img {
    width: 40px;
    height: 60px;
    transition: transform .3s ease;
}

.input-item__icon img:hover {
    transition: transform .3s ease;
    transform: scale(1.05);
}

.input-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
}

.input-item__text {
    margin-left: 5px;
    transition: transform .2s ease;
}

.input-item__text--link {
    text-decoration: unset;
    color: black;
    font-weight: 700;
}

.input-item__text:hover {
    transition: transform .3s ease;
    transform: scale(1.05);
}