.input-block__items {
    height: 220px;
    position: absolute;
    border: 1px solid #767676;
    border-radius: 0 0 12px 12px;
    background: white;
    padding: 0 5px;
    z-index: 1;
    width: 212px;
}

.input-block__link{
    display: flex;
    justify-content: center;
    font-weight: 500;
    text-decoration: none;
    color: #9347da;
    opacity: 0.6;
    transition: all .4s ease;
}

.input-block__link:hover {
    opacity: 1;
    transition: all .4s ease;
}