.review-form__submit {
    align-self: flex-end;
    margin-top: 10px;
    width: 90px;
    display: block;
    font-size: 18px;
    background: linear-gradient(#f4dede, #e7dff3);
    border: 4px solid #f5a85a;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.review-tip {
    font-size: 20px;
    font-weight: 400;
    margin: 0px;
    text-align: center;
    color: #2b292b;
    padding: 0;
}

.review-tip__text {
    padding: 0;
    margin: 0;
}

.validation {
    color: red;
    font-weight: 700;
}

.review-form__user {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}

.review-form__content {
    display: contents;
}

.review-form__user-left {
    margin-right: 10px;
}

@media screen and (max-width: 550px) {
    .review-form__user {
        justify-content: center;
    }
    .review-form__user-left {
        margin-right: 0px;
    }
}


