.section__content {
    margin-top: 30px;
    background: linear-gradient(#e7dff3, #effafd);
    padding: 25px 0;
}

.section__content-container {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0px 10px;
}
.section__footer {
    margin: 20px 0;
}

.moviesIsShow {
    display: none;
}
