.navbar {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    align-items: center;
    padding: 0;
}

.navbar__item {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.navbar__link {
    padding: .5rem 1rem;
    text-decoration: none;
}

.active {
    color: #fff;
    background-color: #007bff;
    border-radius: .25rem;
}

@media screen and (max-width: 750px) {
    .navbar {
        width: 100%;
    }
    .navbar__item {
        display: none;
    }
    .form-wrapper {
        margin-right: 40px;
    }
}
