.logo__img {
    width: 130px;
    mix-blend-mode: multiply;
    transition: transform .4s ease;

}

.logo a {
    display: block;
}


@media screen and (max-width: 500px) {
    .header__active .logo {
        display: none;
    }
    .logo__img {
        height: 70px;
        width: 90px;
    }
}
